html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing:inherit;
}
body{
  margin: 0;
  font-family: 'Manrope-medium',sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: 'Manrope-medium';
  src: local('Manrope-medium'), url(fonts/Manrope-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'OrchideaPro-medium';
  src: local('OrchideaPro-medium'), url(fonts/OrchideaPro-Medium.woff) format('woff');
}